[submodule "doubao/doubao/esp-adf-example"]
	path = doubao/doubao/esp-adf-example
	url = https://github.com/espressif/esp-adf.git
[submodule "doubao/esp-adf-example"]
	path = doubao/esp-adf-example
	url = https://github.com/espressif/esp-adf.git
[submodule "others"]
	path = others
	url = https://github.com/78/xiaozhi-esp32.git
	branch = main
